/.idea/*
*.pyc
db.sqlite3
uploaded/*
public/static/*

# Environments
sendgrid.env
.env
.envs
.venv
env/
*venv/
ENV/

.coverage
coverage.xml
junit-report.xml
settings-local.py

*.png
.cursor/
.vscode/
.cursor/
claude.md

**/.claude/settings.local.json

.DS_Store

docs/
